<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/chat.css">
    <title>Document</title>
</head>
<body>
    <button class="teste">Teste</button>
    <main>
        <div class="panelBodyText"></div>
        <div class="panelFooterText">
            <input type="text" autocomplete>
            <button class="buttonSend">Enviar</button>
        </div>
    </main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/chat.js"></script>
</html>